@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 233, 233);
}
h1 {
    color: #3852B7;
}
h1#principal {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2D2F33;
    text-align: center;
}
.capitulo {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
}
h2 {
    color: #445185;
}
p {
    text-align: justify;
}
